.gpt3_fearure-container_feature-title{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin:1rem;
}

.gpt3_fearure-container_feature-title{
    flex: 1;
    max-width: 180;
    margin-right: 2rem;
}

.gpt3_fearure-container_feature-title h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}
